<div class="container"> 
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2> Información de la solicitud: </h2>
        </div>
      </div>

      <div class="row">
        <%= render 'basic_info' %>
        <%= render 'tips'%>
      </div>


      <div class="row">
        <% if @procedure.approved? and @procedure.code == 'T-SPR201' %>
          <%= render 'extra_requests'%>  
        <% end %>
      </div>

      <% if @procedure.in_draft? %>
        <%= render 'type_time_form' %>
          <br>
          <p class="center"> (Nota: Une vez solicitada la evaluación no podrá modificar los recaudos.)</p>
      <% end %>
      <br>
      <% if @procedure.participants.size > 0 %>
        <%= render 'participants_list' %>
      <% end %>
      
      <% if @procedure.in_draft?  %>
        <%= render 'requirement_list' %>
      <% elsif @procedure.in_progress? || @procedure.approved? %>
        <%= render 'steps_list'%>
      <% end %>
    </div>
  </div>    
</div>
