<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Acciones disponibles:
    </div>

    <div class="panel-body">
      <ul>
        <h4>

          <% @document = find_document_by_code(@procedure, "OSD")%>
            <% step = @procedure.steps.find_by(name: "#1")%>
            <% unless @document.nil? or step.state != 'in_progress'%>
            <p><li> <%= link_to "Aprobar oficio de solicitud de diferimiento.", 
                show_document_admin_procedure_path(document_code: 'OSD', step: '#1') %> </li></p>
          <% end %>
           
          <% @document = find_document_by_code(@procedure, "CDAP")%>
          <% if @document.nil? %>
          <!--
            <p><li> <%= link_to "Cargar Oficio de aprobaci贸n del diferimiento", 
                new_document_path(name: 'Aprobacion de Solicitud de Diferimiento', code: 'ASD', procedure: @procedure, step: '#2') %> </li></p>
          -->
          <p><li> <%= link_to "Generar constancia de aprobaci贸n del diferimiento", generate_approval_document_admin_procedure_path(procedure: @procedure, format: :pdf) %> </li></p>               
          <% else %>
            <p><li> <%= link_to "Editar documento de aprobaci贸n del diferimiento.", edit_document_path(@document) %> </li></p>
          <% end %>
          
          <!--
          <% @document = find_document_by_code(@procedure, "ASD")%>
            <% step = @procedure.steps.find_by(name: "#2")%>
            <% unless @document.nil? or !step.in_progress? %>
              <p><li> <%= link_to "Aprobar Oficio de aprobaci贸n del diferimiento.", show_document_admin_procedure_path(document_code: 'ASD', step: '#2') %> </li></p>
          <% end %>
          <-->

          <% if @procedure.in_progress? %>
            <p><li> <%= link_to "Aprobar solicitud.", complete_admin_procedure_path(@procedure) %> </li></p>
          <% end %>

        </h4>
      </ul>
    </div>


  </div>
</div>