<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Acciones disponibles:
    </div>

    <div class="panel-body">
      <ul>
        <h4>
          <% step = @procedure.steps.find_by(name: "#1")%>
          <% if step.in_progress? and current_user.has_role?(:consejo_departamento) %>
            <p> <li> <%= link_to "Aprobar Informe Final", show_document_admin_procedure_path(document_code: 'IF', step: '#1')%> </li></p>
          <% end %>
      
          <% @document = find_document_by_code(@procedure, "CDAP")%>
          
          <% if @document.nil? %>
            <% if current_user.has_role?(:consejo_departamento) and step_approved?("#1") %>
              <p><li> <%= link_to "Generar constancia de aprobaci贸n", generate_approval_document_admin_procedure_path(procedure: @procedure, format: :pdf) %> </li></p>
            <% end %>
          <% else %>
            <p><li> <%= link_to "Ver constancia de aprobaci贸n.", @document.attachment_url %> </li></p>
            <p><li> <%= link_to "Editar constancia de aprobaci贸n del informe parcial.", edit_document_path(@document) %> </li></p>
          <% end %>

          <!-- 
          <% @document = find_document_by_code(@procedure, "CDAP")%>
            <% step = @procedure.steps.find_by(name: "#2")%>
            <% unless @document.nil? %>
              <p><li> <%= link_to "Aprobar constancia de aprobaci贸n del informe final.",
                show_document_admin_procedure_path(document_code: 'CDAP', step: '#2') %> </li></p>
          <% end %>
          -->
        </h4>
      </ul>
      <br>
      <div class='text-center'>
        <% if @procedure.in_progress? and current_user.has_role?(:consejo_departamento)%>
          <%= link_to approve_procedure_admin_procedure_path(@procedure) , class: 'btn btn-success btn-lg list' do %>
            <i class="glyphicon glyphicon-cog"></i> Aprobar solicitud
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>