<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Acciones disponibles:
    </div>

    <div class="panel-body">
      <ul>
        <h4>
          <% step = @procedure.steps.find_by(name: "#1")%>
          <% if step.in_progress?%>
            <p> <li> <%= link_to "Aprobar Informe Parcial", show_document_admin_procedure_path(document_code: 'IP', step: '#1') %></li> </p>
          <% end %>
      
          <% @document = find_document_by_code(@procedure, "AIP")%>
          <% if @document.nil? %>
            <p><li> <%= link_to "Cargar constancia de aprobac贸n del informe parcial.", 
                          new_document_path(name: 'Aprobaci贸n del Informe Parcial', code: 'AIP', procedure: @procedure, step: '#2')%></li></p>
          <% else %>
            <p><li> <%= link_to "Editar constancia de aprobac贸n del informe parcial.", edit_document_path(@document) %> </li></p>
          <% end %>

          <% @document = find_document_by_code(@procedure, "AIP")%>
            <% step = @procedure.steps.find_by(name: "#2")%>
            <% unless @document.nil? or !step.in_progress? %>
              <p><li> <%= link_to "Aprobar constancia de aprobaci贸n del informe parcial.", 
                show_document_admin_procedure_path(document_code: 'AIP', step: '#2') %> </li></p>
          <% end %>
        </h4>
      </ul>
      <br>
      <div class='text-center'>
        <% if @procedure.in_progress? %>
          <%= link_to complete_admin_procedure_path(@procedure) , class: 'btn btn-success btn-lg list' do %>
            <i class="glyphicon glyphicon-cog"></i> Aprobar solicitud
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>