<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Acciones disponibles:
    </div>
    <div class="panel-body">
      <ul>
        <h4>
 
          <% @document = find_document_by_code(@procedure, "D-PFE")%>
          <% step = @procedure.steps.find_by(name: "#3")%>
          <% if @document and  step.in_progress? and current_user.has_role?(:consejo_facultad)%>
            <p><li> <%= link_to "Aprobar #{@document.name}", show_document_admin_procedure_path(document_code: @document.code, step: '#3') %> </li></p>
          <% end %>

          <% @document = find_document_by_code(@procedure, "CDAP")%>
          
          <% if @document.nil? %>
            <% if current_user.has_role?(:consejo_departamento) and steps_approved?(%w[#1 #2 #3])%>
              <p><li> <%= link_to "Generar constancia de aprobaci贸n.", generate_approval_document_admin_procedure_path(procedure: @procedure, format: :pdf) %> </li></p>
            <% end %>
          <% else %>
            <p><li> <%= link_to "Ver constancia de aprobaci贸n.", @document.attachment_url %> </li></p>
            <p><li> <%= link_to "Editar constancia de aprobaci贸n.", edit_document_path(@document) %> </li></p>
          <% end %>

          <!-- 
          <% step = @procedure.steps.find_by(name: "#4")%>
          <% unless step.state != 'in_progress'%>
            <p> <li> <%= link_to "Aprobar constancia de aprobaci贸n.", show_document_admin_procedure_path(document_code: 'CDAP', step: '#4')%> </li> </p>
          <% end %>
          -->
         
          <br>
          <div class='text-center'>
            <% if @procedure.in_progress? %>
              <%= link_to approve_procedure_admin_procedure_path(@procedure) , class: 'btn btn-success btn-lg list' do %>
                <i class="glyphicon glyphicon-cog"></i> Aprobar solicitud
              <% end %>
            <% end %>
          </div>

        </h4>
      </ul>
    </div>
  </div>
</div>