<div class="well">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2> <strong> Información de la solicitud: <strong></h1>
      </div>
    </div>
    <div class="row">
      <%= render 'procedures/basic_info'%>
      <% if @procedure.in_progress? and @procedure.code == 'T-AS100' %>
        <%= render 'sabbatical_year_admin_panel'%>
      <% elsif @procedure.in_progress? and @procedure.code == 'T-AS101'%>
        <%= render 'modify_admin_panel'%>
      <% elsif @procedure.in_progress? and @procedure.code == 'T-AS102'%>
        <%= render 'partial_report_admin_panel'%>
      <% elsif @procedure.in_progress? and @procedure.code == 'T-AS103'%>
        <%= render 'final_report_admin_panel'%>
      <% elsif @procedure.in_progress? and @procedure.code == 'T-AS104'%>
        <%= render 'delay_sabbatical_year_admin_panel'%>
      <% end %>
    </div>
    <br>
  </div>
</div>

<%= render 'steps' %>