<div class="well">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2> <strong> Custom view! <strong></h1>
        <h2> <strong> <%= @step.name%> <strong></h1>
        <h2> <strong> <%= @step.description%> <strong></h1>
        <h2> <strong> <%= @step.state%> <strong></h1>
        <h2> <strong> <%= @step.user_view%> <strong></h1>
        <h2> <strong> <%= @step.admin_view%> <strong></h1>
      </div>
    </div> 
  </div>
</div>



  
