<div class="well">
  <div class="container">   
    <div class="row">
      <div class="col-md-12 text-center">
        <strong> <h2 class="text-center"> Evaluar documento </h2> </strong>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          <h3> <strong> Nombre del documento: </strong> <%= @document.name %> </h3>  
        </p>
        <p>
          <h3> <strong> Fecha de creación: </strong> <%= @document.created_at %> </h3>
        </p>
        <p>
          <h3> <strong> Fecha de actualización: </strong> <%= @document.updated_at %> </h3>
        </p>

        <p>
          <% if @step.in_draft? %>
            <td> <h4> <span class="label label-default"><%= state_translate(@step.state) %> </span> </h4> </td>
          <% elsif @step.in_progress? %>
            <td> <h4> <span class="label label-primary"><%= state_translate(@step.state) %> </span> </h4> </td>
          <% elsif @step.approved? %>
            <td> <h4> <span class="label label-success"><%= state_translate(@step.state) %> </span> </h4> </td>
          <% elsif @step.disapproved? %>
            <td> <h4> <span class="label label-danger"><%= state_translate(@step.state) %> </span> </h4> </td>
          <% end %>
        </p>
      </div>

      <div class="col-md-6 text-center">
        <%= link_to '#', class: 'btn btn-info btn-lg list' do %> 
            Aprobar <%= @document.name %> <i class="glyphicon glyphicon-ok"></i> 
        <% end %>
      </div>
    </div>
    
    <br>

    <div class="text-center">
      <%= link_to '#', class: 'btn btn-success btn-lg list' do %> 
        Aprobar <%= @document.name %> <i class="glyphicon glyphicon-ok"></i> 
      <% end %>
    </div>

  </div>
</div>