<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading center"><%= t :user %></div>
      <div class="panel-body">
        <%= simple_form_for @employee, :html => {:class => "form-horizontal"},
                            wrapper: :horizontal_file_input_sistramad,
                            wrapper_mappings: {
                                file: :horizontal_file_input_sistramad
                            } do |f| %>
            <% if @employee.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

                  <ul>
                    <% @employee.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1">
                <%= f.association :user, :label => t("user"), :include_blank => false, :label_method => lambda { |user| "#{user.username}".capitalize }, collection: User.without_employee %>
                <%= f.association :type_employee, :label => t("type_employee.short"), :include_blank => false, collection: ReferenceList.type_employee %>
                <%= f.association :scale_classification, :label => t("scale_classification.short"), :include_blank => false, collection: ReferenceList.scale_classification %>
                <%= f.association :scale_category, :label => t("scale_category.short"), :include_blank => false, collection: ReferenceList.scale_category %>
                <%= f.association :dedication_classification, :label => 'Dedicación', :include_blank => false, collection: ReferenceList.dedication_classification %>
                <%= f.input :dedication_start_date, start_year: Date.today.year - 30, end_year: Date.today.year , :label => 'Fecha de Inicio en la Dedicación' %>
              </div>
              <div class="col-md-12">
                <%= f.button :submit, value: t('form.send'), class: ' btn btn-info' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>