<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Listing Employees', employees_path %></li>
  <li><%= link_to 'New employee', new_employee_path %></li>
</ul>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>User</th>
      <th>Type employee</th>
      <th>Scale classification</th>
      <th>Scale category</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.user.username %></td>
          <td><%= employee.type_employee.name %></td>
          <td><%= employee.scale_classification.name %></td>
          <td><%= employee.scale_category.name %></td>
          <td><%= link_to 'Show', employee %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
          <td><%= link_to 'Destroy', employee, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @employees %></br>
<%= page_entries_info @employees %>

<br>

<%= link_to new_employee_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Employee
<% end %>
