<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading center"><%= t('employee') %></div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
              <div class="form-group">
                <label for="first_name" class="control-label col-sm-5 col-md-4"><%= t("first_name") %>:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @employee.user.first_name %> <%= @employee.user.last_name %>  </p>
                </div>

                <label for="type_employee" class="control-label col-sm-5 col-md-4"><%= t("type_employee.long") %>:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @employee.type_employee.name %></p>
                </div>

                <label for="scale_classification" class="control-label col-sm-5 col-md-4"><%= t("scale_classification.short") %>
                  :</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @employee.scale_classification.name %></p>
                </div>

                <label for="scale_category" class="control-label col-sm-5 col-md-4"><%= t("scale_category.short") %>
                  :</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @employee.scale_category.name %></p>
                </div>

                <label for="scale_category" class="control-label col-sm-5 col-md-4"> Dedicacion
                :</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @employee.dedication_classification.name %></p>
                </div>

                <label for="scale_category" class="control-label col-sm-5 col-md-4"> Inicio en la Dedicación
                :</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @employee.dedication_start_date %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-toolbar">
    <div class="btn-group btn-group-justified">
      <%= link_to t('edit'), edit_employee_path(@employee), class: 'btn btn-info' %>
      <%= link_to t('back'), employees_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
</div>

