<div class="row">
  <div>
    <p><h3 class="text-center">Usuarios asociados a este plan:</h3></p>
  </div>
  <div class="well">
    <br>
    <div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Nombre:</th>
              <th>Apellido:</th>
              <th>Cédula:</th>
              <th>Correo:</th> 
              <% if @procedure.in_draft? %>
              <th>Acciones</th>  
              <% end %>      
            </tr>
          </thead>
          <tbody>
            <% @procedure.users.each do |user|%>
              <tr>
                <td> <%= user.first_name%></td>
                <td> <%= user.last_name %></td>
                <td> <%= user.identification_document %></td>
                <td> <%= user.email %></td>         
                <% if @procedure.in_draft? %>
                  <td>
                    <%= link_to 'Eliminar', participant_path(user, procedure: @procedure.id),
                    :method => :delete,
                    :data => { :confirm => '¿Está seguro?' },
                    :class => 'btn btn-xs btn-danger' %>
                  <td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>