<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Datos básicos:
    </div>
    <div class="panel-body">
      <h4> <strong> Nombre de la solicitud: </strong> <%= @procedure.name %> </h4>      
      <h4> <strong> Código de la solicitud: </strong> <%= @procedure.code %> </h4> 
      <h4> <strong> Usuario: </strong> <%= @procedure.user.username %> </h4>  
      <h4> <strong> Nombre: </strong> <%= @procedure.user.first_name  %> <%= @procedure.user.last_name%> </h4>  
      <h4> <strong> Correo: </strong> <%= @procedure.user.email %>  </h4>
      
      <% if @procedure.license_type and @procedure.license_period %>
        <% if @procedure.in_draft? %>
          <h4> <strong> Tipo de Licencia: </strong> <%= @procedure.license_type.name %>  </h4>
          <h4> <strong> Tiempo de duración: </strong> <%= link_to @procedure.license_period.name, edit_license_info_path(@procedure.license_info, period: "period" )%> </h4>
        <% else %>
          <h4> <strong> Tipo de Licencia: </strong> <%= @procedure.license_type.name %>  </h4>
          <h4> <strong> Tiempo de duración: </strong> <%= @procedure.license_period.name %> </h4>
        <% end %>
        
      <% end %>

      <% if @procedure.approved? %>
        <h4> <strong> Fecha de inicio: </strong> <%= @procedure.start_date.strftime("%d-%m-%Y")%></h4>
        <h4> <strong> Fecha de finalización: </strong> <%= @procedure.end_date.strftime("%d-%m-%Y")%></h4>
      <% end %>

      <br>

      <h4 class="text-center"> <strong> Estado: </strong>
        <% if @procedure.in_draft? %>
          <span class="label label-default"><%= state_translate(@procedure.state) %> </span>
        <% elsif @procedure.in_progress? %>
            <span class="label label-primary"><%= state_translate(@procedure.state) %> </span>
        <% elsif @procedure.approved? %>
            <span class="label label-success"><%= state_translate(@procedure.state) %> </span>
        <% elsif @procedure.completed? %>
            <span class="label label-success"><%= state_translate(@procedure.state) %> </span>
        <% elsif @procedure.closed? %>
            <span class="label label-danger"><%= state_translate(@procedure.state) %> </span>
        <% end %>
      </h4>

      
    </div>
  </div>
</div>


