<h2>Estado de Solicitud de Traslado</h2>
<% professorstransfer = ProfessorsTransfer.find_by_user_id(current_user.id)  %>
<div class="jumbotron" style="border-radius: 15px; background-color: #dae4f1">
  <div class="container">
    <% id = ProfessorsTransfer.find_by_user_id(current_user.id).id %>
    <% if professorstransfer.DR? %>
        <p>Su Solicitud se encuentra en proceso, aun le faltan recaudos por cargar.</p>
    <%end%>
    <% if professorstransfer.IP? %>
    <p>Su Solicitud esta en Progreso, le avisaremos por correo electronico a la brevedad posible.</p>
    <%end%>
    <% if professorstransfer.RE? %>
        <p>Su Solicitud Fue Denegada.</p>
    <%end%>
    <% if professorstransfer.AP? %>
        <p>Su Solicitud ha sido aprobada y Aceptada.</p>
    <%end%>
  </div>
</div>
<center><h3>Detalle de Solicitud</h3></center>
<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading center"><%= t("professors_transfer") %></div>
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="form-group">

              <label for="user" class="control-label col-sm-5 col-md-4"><%= t("user") %>:</label>
              <div class="col-sm-7 col-md-8">
                <p class="form-control-static"><%= professorstransfer.user.first_name%>
                  <%= professorstransfer.user.last_name%>
                </p>
              </div>

              <% if(professorstransfer.process_type.name='Traslados')%>
                <label for="type_of_translation" class="control-label col-sm-5 col-md-4"><%= "Tipo de Traslado" %>:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= professorstransfer.process_type.name %></p>
                </div>
              <%else%>  
                <label for="type_of_translation" class="control-label col-sm-5 col-md-4"><%= "Tipo de Traslado" %>:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= professorstransfer.type.name %></p>
                </div>
              <%end%>

              <% if professorstransfer.from.present? %>
                <label for="faculty_from" class="control-label col-sm-5 col-md-4"><%= "Origen" %>:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= professorstransfer.from.name %></p>
                </div>

                <label for="faculty_to" class="control-label col-sm-5 col-md-4"><%= "Destino" %>:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= professorstransfer.to.name %></p>
                </div>
                <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <center>
  <div class="btn-toolbar">
    <div class="btn-group ">
    <%= link_to t('back'), professors_transfers_path, class: 'btn btn-info' %>
    </div>
  </div>
  </center>
</div>
</div>

