<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info panel-user">
      <div class="panel-heading center"><%= t :user %></div>
      <div class="panel-body">
        <%= simple_form_for @user, :html => {:multipart => true, :class => "form-horizontal"},
                            wrapper: :horizontal_file_input_sistramad,
                            wrapper_mappings: {
                                file: :horizontal_file_input_sistramad,
                                date: :multi_select_sistramad
                            } do |f| %>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="img-avatar-circle center-block">
                  <%= image_tag("user_default_male.png", alt: "user", id: "img-destino")%>
                </div>
                <div class="input-group input-group-sm">
                  <div class="input-group-btn">
                    <label class="btn btn-info">
                      Buscar
                      <%= f.file_field :avatar, class: "input-hiden" %>
                    </label>
                  </div>
                  <input id="upload-file-info" class="form-control" type="text" readonly>
                </div>
                <br>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-9">
                <%= f.input :username, :label => t("username.short"), :placeholder => t("username.long") %>
                <%=	f.input :email, :label => t('email.short'), :placeholder => t('email.long') %>
                <%=	f.input :password, :label => t('password'), :placeholder => t('password') %>
                <%=	f.input :password_confirmation, :label => t('password_confirmation.short'), :placeholder => t('password_confirmation.long') %>
                <%= f.input :first_name, :label => t("first_name"), :placeholder => t("first_name") %>
                <%= f.input :middle_name, :label => t("middle_name"), :placeholder => t("middle_name") %>
                <%= f.input :last_name, :label => t("last_name"), :placeholder => t("last_name") %>
                <%= f.input :genre, :label => t("genre"), collection: {'m' => t('genres.male'), 'f' => t('genres.female')}.sort.map { |k, v| [v, k] }, :include_blank => false, :placeholder => t("genre") %>
                <%= f.input :identification_document, :label => t("identification_document"), :placeholder => t("identification_document") %>
                <%= f.input :birthday, start_year: Date.today.year - 90, end_year: Date.today.year - 12, :label => t("birthday.short") %>
                <%= f.input :roles, :label => t("roles"), collection: Role.all ,:include_blank => false, :placeholder => t("name") %>
              </div>
              <div class="col-md-12">
                <center>
                  <%= f.button :submit, value: t('form.send'), class: 'btn btn-info' %>
                </center>
              </div>
            </div>
            <%= f.error_notification %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "users/avatar_preview_text_input", 'data-turbolinks-track' => true %>