<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading center">Reference list</div>
      <div class="panel-body">

        <label for="name" class="control-label">name</label>
        <input type="text" class="form-control" value="<%= @reference_list.name %>" disabled= true>

        <label for="description" class="control-label">description</label>
        <input type="text" class="form-control" value="<%= @reference_list.description %>" disabled= true>

        <label for="value" class="control-label">value</label>
        <input type="text" class="form-control" value="<%= @reference_list.value %>" disabled= true>

        <label for="reference" class="control-label">reference</label>
        <input type="text" class="form-control" value="<%= @reference_list.reference.name %>" disabled= true>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_reference_list_path(@reference_list) %> |
<%= link_to 'Back', reference_lists_path %>
