<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading center">Cargar dcumento</div>
      <div class="panel-body">
        <%= simple_form_for @document, :html => {:class => "form-horizontal"}, wrapper: :horizontal_file_input,
                            wrapper_mappings: { file: :horizontal_file_input} do |f| %>
            <%= f.error_notification %>
            <% if @document.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@document.errors.count, "error") %> Los siguientes errores no permitiron guardar el documento:</h2>
                  <ul>
                    <% @document.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="row">
              <%= f.input :name, label: @document.name, wrapper_html: { class: 'hidden'}%>
              <%= f.input :code, label: @document.code, wrapper_html: { class: 'hidden'}%>
              <input id="procedure_id" name="procedure" type="hidden" value= <%= @procedure %> >
              <input name="step" type="hidden" value= <%= @step_name %> >
              
              <div class="col-xs-12 col-sm-12 col-md-10">
                <%= f.input :attachment, label: @document.name%>
              </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
              <%= f.button :submit, value: 'Cargar', class: 'form-control btn btn-info' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>