<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading center"><%= Asociación Usuario/Roles%></div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
              <div class="form-group">

                <label for="formalities_master" class="control-label col-sm-5 col-md-4"><%= t("formalities_master") %>:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @users_role.user.username %></p>
                </div>

                <label for="requirements" class="control-label col-sm-5 col-md-4"><%= t("requirements") %>:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @users_role.role.name %></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-toolbar">
      <div class="btn-group btn-group-justified">
        <%= link_to t('edit'), edit_users_role_path(@users_role), class: 'btn btn-info' %>
        <%= link_to t('back'), users_role_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
</div>

