<div class="well"> 
  <div>
    <p><strong> <h3 class="text-center">Programas de Formación: </h3> </strong></p>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Solicitud </th>
          <th>Código</th>
          <th>Fecha creación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @procedures.each do |procedure| %>
          <tr>
            <td><%= procedure.name%> </td>
            <td><%= procedure.code %></td>
            <td><%= procedure.created_at.strftime("%Y-%m-%d") %></td>
            <td>
              <% if procedure.code == "T-SPR201" %>
                <div class="btn-toolbar">
                  <div class="btn-group btn-group-xs">
                    <%= link_to 'Consultar' ,rotation_plan_path(procedure), class: 'btn btn-primary list' %>
                    <%= link_to 'Cancelar', rotation_plan_path(procedure), method: :delete, data: {confirm: '¿Está seguro de eliminar solicitud?'}, class: 'btn btn-danger list' %>
                  </div>
                </div>
              <% elsif procedure.code == "T-MPR202" %>
                <div class="btn-toolbar">
                  <div class="btn-group btn-group-xs">
                    <%= link_to 'Consultar' ,modify_rotation_plan_path(procedure), class: 'btn btn-primary list' %>
                    <%= link_to 'Cancelar', modify_rotation_plan_path(procedure), method: :delete, data: {confirm: '¿Está seguro de eliminar solicitud?'}, class: 'btn btn-danger list' %>
                  </div>
                </div>
              <% elsif procedure.code == "T-PPR203" %>
                <div class="btn-toolbar">
                  <div class="btn-group btn-group-xs">
                    <%= link_to 'Consultar' ,delay_rotation_plan_path(procedure), class: 'btn btn-primary list' %>
                    <%= link_to 'Cancelar', delay_rotation_plan_path(procedure), method: :delete, data: {confirm: '¿Está seguro de eliminar solicitud?'}, class: 'btn btn-danger list' %>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>



