<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading center"><%= t('roles') %></div>
      <div class="panel-body">
        <%= simple_form_for @role, :html => {:class => "form-horizontal"},
                            wrapper: :horizontal_file_input_sistramad,
                            wrapper_mappings: {
                                file: :horizontal_file_input_sistramad
                            } do |f| %>
            <%= f.error_notification %>
            <% if @role.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

                  <ul>
                    <% @role.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1">
                <%= f.input :name, :label => t("name"), :placeholder => t("name") %>
                <!-- <%= f.input :resource_id %>
                <%= f.input :resource_type %> -->
              </div>
            </div>
            <div class="col-md-12">
              <%= f.button :submit, value: t('form.send'), class: ' btn btn-info' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>