<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Listing Roles', roles_path %></li>
  <li><%= link_to 'New role', new_role_path %></li>
</ul>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <tr>
      <th>name</th>
      <th>resource_id</th>
      <th>resource_type</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @roles.each do |role| %>
        <tr>
          <td><%= role.name %></td>
          <td><%= role.resource_id %></td>
          <td><%= role.resource_type %></td>
          <td><%= link_to 'Show', role %></td>
          <td><%= link_to 'Edit', edit_role_path(role) %></td>
          <td><%= link_to 'Destroy', role, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @roles %></br>
<%= page_entries_info @roles %>

<br>

<%= link_to new_role_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Role
<% end %>
