<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading center"><%= t('role') %></div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
              <div class="form-group">
                <label for="name" class="control-label col-sm-5 col-md-4"><%= t("name") %>:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @role.name %></p>
                </div>

               <!-- <label for="resource_id" class="control-label col-sm-5 col-md-4">resource_id:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @role.resource_id %></p>
                </div>

                <label for="resource_type" class="control-label col-sm-5 col-md-4">resource_type:</label>
                <div class="col-sm-7 col-md-8">
                  <p class="form-control-static"><%= @role.resource_type %></p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<center>
<div class="btn-toolbar">

  <div class="btn-group ">
    <%= link_to t('edit'), edit_role_path(@role), class: 'btn btn-info' %>
  </div>
  <div class="btn-group ">
  <%= link_to t('back'), roles_path, class: 'btn btn-info' %>
</div>

</div>
</center>
