<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading center"><%= t('reference') %></div>
      <div class="panel-body">
        <%= simple_form_for @reference, :html => {:class => "form-horizontal"},
                            wrapper: :horizontal_file_input_sistramad,
                            wrapper_mappings: {
                                file: :horizontal_file_input_sistramad
                            } do |f| %>
            <%= f.error_notification %>
            <% if @reference.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being
                    saved:</h2>

                  <ul>
                    <% @reference.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-10">
                <%= f.input :name, :label => t("name"), :placeholder => t("name") %>
                <%= f.input :description, :label => t("description"), :placeholder => t("description") %>
                </div>
            </div>

            <div class="col-md-12">
              <%= f.button :submit, value: t('form.send'), class: 'form-control btn btn-info' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>