.row
  .col-md-10.col-md-offset-1
    .panel.panel-reference.panel-info
      .panel-heading.center= t('reference')
      .panel-body
        .form-horizontal
          .row
            .col-md-12
              .form-group
                %label.control-label.col-sm-5.col-md-4{:for => "name"}
                  = t('name')
                  \:
                .col-sm-7.col-md-8
                  %p.form-control-static= @reference.name
                %label.control-label.col-sm-5.col-md-4{:for => "description"}
                  = t('description')
                  \:
                .col-sm-7.col-md-8
                  %p.form-control-static= @reference.description
    .btn-toolbar
      .btn-group.btn-group-justified
        = link_to t('edit'), edit_reference_path(@reference), class: 'btn btn-info'
        = link_to t('back'), references_path, class: 'btn btn-info'
