<%= form_for(@country) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :capital %><br>
    <%= f.text_field :capital %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br>
    <%= f.number_field :region_id %>
  </div>
  <div class="field">
    <%= f.label :sub_region_id %><br>
    <%= f.number_field :sub_region_id %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :nativeName %><br>
    <%= f.text_field :nativeName %>
  </div>
  <div class="field">
    <%= f.label :alpha2Code %><br>
    <%= f.text_field :alpha2Code %>
  </div>
  <div class="field">
    <%= f.label :alpha3Code %><br>
    <%= f.text_field :alpha3Code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
