<p id="notice"><%= notice %></p>

<h1>Listing University Degrees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>University</th>
      <th>Academic degree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @university_degrees.each do |university_degree| %>
      <tr>
        <td><%= university_degree.name %></td>
        <td><%= university_degree.university %></td>
        <td><%= university_degree.academic_degree_id %></td>
        <td><%= link_to 'Show', university_degree %></td>
        <td><%= link_to 'Edit', edit_university_degree_path(university_degree) %></td>
        <td><%= link_to 'Destroy', university_degree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New University degree', new_university_degree_path %>
