<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @university_degree.name %>
</p>

<p>
  <strong>University:</strong>
  <%= @university_degree.university %>
</p>

<p>
  <strong>Academic degree:</strong>
  <%= @university_degree.academic_degree_id %>
</p>

<%= link_to 'Edit', edit_university_degree_path(@university_degree) %> |
<%= link_to 'Back', university_degrees_path %>
