
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info panel-user">
      <div class="panel-heading center">
        <%= current_user.username %>
      </div>
      <div class="panel-body">
        <%= simple_form_for @procedure, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="form-group">     
                  <div  class="col-sm-6 control-label">
                    <%= f.label 'Nombre:'%> 
                  </div>
                  <div class="col-sm-4">
                      <%= f.text_field :name, class: "form-control", placeholder: "Nombre del Trámite", autofocus: true %>
                  </div>     
                </div>                 
                <div class="col-md-4 col-md-offset-6">
                  <%= f.button :submit,'Solicitar Año Sabatico' , class: 'form-control btn btn-info' %>
                </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-4">
              <%= f.error_notification %>
                <% if @procedure.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@procedure.errors.count, "error") %> ha prohibido que se realice la solicitud:</h2>
                    <ul>
                      <% @procedure.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            </div>
            
        <% end %>
      </div>
    </div>
  </div>
</div>