
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info panel-user">
      <div class="panel-heading center">
        <%= current_user.username %>
      </div>
      <div class="panel-body">
      
        <%= simple_form_for setup_procedure(@procedure) , html: { multipart: true } do |f| %>  

            <%= f.input :name, label: "Nombre del Tramite:" %>

              <%= f.simple_fields_for :documents do |ff| %>
                <%= ff.input :name%>
                <%= ff.input :attachment%>                  
              <% end %>

            <%= f.button :submit %>
        <% end %>
    
      </div>
    </div>
  </div>
</div>
