<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info panel-user">
      <div class="panel-heading center">
        <h3>Requisitos para iniciar solicitud de Año Sabatico</h1>
      </div>
      <div class="panel-body">
      
        <%= simple_form_for @procedure, html: { multipart: true } do |f| %>  
          <%= f.input :name, label: "Nombre del Tramite:" %>
          <%= f.input :code, label: "Código:" %>
          <% @documents.each do |document| %>
            <div>
              <%= fields_for 'documents[]', document do |ff| %>
                <%= ff.label :name %>
                <%= ff.text_field :name %>            
                <%= ff.label :code %>
                <%= ff.text_field :code %>   
                <%= ff.file_field :attachment %>                 
              <% end %>
            </div>
          <% end %>

            <%= f.button :submit %>
        <% end %>
    
      </div>
    </div>
  </div>
</div>
