
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info panel-user">
      <div class="panel-heading center">
        <%= current_user.username %>
      </div>
      <div class="panel-body">
       
          <%= simple_form_for setup_procedure(@procedure), html: { multipart: true } do |f| %>

            <%= f.simple_fields_for :documents do |ff| %>               

                  <%= ff.input :attachment, label: "Archivo:" %>

                  <% if ff.object.persisted? %>
                    <%= ff.check_box :_destroy %>
                    <%= ff.label :_destroy, "Destroy" %>
                  <% end %>

              <% end %>
            <%= f.button :submit%>
          <% end %>
     
      </div>
    </div>
  </div>
</div>
#procedure_documents_attributes_0_name