<div class="well text-center">  
  <h3> <strong> Nombre de la solicitud: </strong> <%= @procedure.name %> </h3>      
  <h3> <strong> Código de la solicitud: </strong> <%= @procedure.code %> </h3> 
  <h3> <strong> Usuario: </strong> <%= @procedure.user.username %> </h3>  
  <h3> <strong> Correo: </strong> <%= @procedure.user.email %>  </h3> 
  <h3> <strong> Estado: </strong> <%= @procedure.state %>  </h3> 
  <div class="text-center">
    <% if @procedure.in_draft? %>
      <%= link_to validate_procedure_path(@procedure), class: 'btn btn-success btn-lg list' do %>
        <i class="glyphicon glyphicon-cog"></i> Confirmar Solicitud
      <% end %>
    <% else %>
      <%= link_to consult_procedure_path(@procedure), class: 'btn btn-info btn-lg list' do %>
        <i class="glyphicon glyphicon-cog"></i> Consultar Solicitud
      <% end %>
    <% end %>
  </div>
</div>
 
<%= render 'requirement_list' %>

<%= link_to 'Edit', edit_procedure_path(@procedure) %> |
<%= link_to 'Back', procedures_path %>
