<div class="well">
<div>
  <p><strong> <h2 class="text-center">Lista de recaudos iniciales:</h2> </strong></p>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nombre:</th>
            <th>Fecha de creación:</th>
            <th>Archivo adjunto:</th>         
          </tr>
        </thead>
        <tbody>
            <% @attachments.each do |attch|%>
              <tr>
                <td><%= attch.document.name%></td>
                <td><%= attch.created_at.strftime("%d-%m-%Y") %></td>
                <td> 
                  <span class="btn btn-info btn-md list ">
                  <%= link_to download_attachments_path(id: attch.id,user_id: @professors_transfer.user.id), {method: "download"}  do %>
                    <%= attch.file_file_name %> 
                    <i class="glyphicon glyphicon-save-file"></i> 
                  <% end %>
                  </span>
                </td>
              </tr>
            <% end %>  
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-5">
<br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Acciones disponibles:
    </div>
    <div class="panel-body">
      <p>
        <div>
            <li>
              <span class="btn btn-info btn-md list "> <%= link_to 'Descargar todos los documentos',download_professors_transfers_path(user_id: @professors_transfer.user.id,process_id: @professors_transfer.process_type.id), {method: "download"} %>
              <i class="glyphicon glyphicon-download-alt"></i> 
              </span>
            </li>
        </div>
      </p>
      <p>
        <div>
          <%= link_to approve_initial_requirements_request_manager_path(@professors_transfer), class: 'btn btn-success btn-md list' do %> 
            Aprobar documentos <i class="glyphicon glyphicon-ok"></i> 
          <% end %>
        </div>
      </p>
    </div>
  </div>
</div>
</div>