<!DOCTYPE html>
<html>
<head>
  <title>Sistramad</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "partials/navigation" %>


<% flash.each do |name, msg| -%>
    <div class="alert alert-<%= name %>">
      <div class="container-fluid">
        <button class="close" data-dismiss="alert"><span>&times;</span></button>
        <%= content_tag :div, msg %>
      </div>
    </div>
<% end -%>

<div id="main-container" class="container main-container">
  <% if controller_name != 'sessions' %>
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
          <%#= render "partials/navigation" %>

          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Plan Septenal</a></li>
            <li><a href="#">Ascenso</a></li>
            <li><a href="#">Formación Especial</a></li>
            <li><a href="#">Licencias</a></li>
            <li><a href="#">Plan de Rotación</a></li>
            <li><a href="#">Régimen de Año Sabático</a></li>
            <li><a href="#">Traslado</a></li>
            <li><a href="#">Cambio de Dedicación Permanente</a></li>
            <li><a href="#">Cambio de Dedicación Temporal</a></li>
            <li><a href="#">Permanencia en la Dedicación</a></li>
            <li><a href="#">Regimen de Beca</a></li>
            <li><a href="#">Regimen de Plan Conjunto</a></li>
            <li><a href="#">Ascenso</a></li>
            <li><a href="#">Ascenso</a></li>
            <li><a href="#">...</a></li>
          </ul>

        </div>
        <div id="content" class="col-xs-9">
          <!--  main content -->
          <!--<p class="notice"><%= notice %></p>-->
          <!--<p class="alert"><%= alert %></p>-->

          <%= yield %>
        </div>
      </div>

  <% elsif controller_name == 'sessions' %>
      <%= yield %>
  <% end %>
</div>
<%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
