<!DOCTYPE html>
<html>
<head>
  <title>Sistramad</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>

  <%= csrf_meta_tags %>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"> </script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<%= render "partials/navigation" %>

<% if ['sessions', 'passwords', 'unlocks'].include?(controller_name) %>
    <div id="background"></div>
<% end %>

  <% if ['sessions', 'passwords', 'unlocks', 'invitations'].include?(controller_name) %>
      <%= yield %>
  <% else %>

      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <%= image_tag "user_avatar.jpg" , :class=>"img-circle", :alt=>"User Image"%>
            </div>
            <div class="pull-left info">
              <p><%= current_user.first_name %> <%= current_user.last_name %></p>
            <% if user_signed_in? %>
              <div><%= current_user.username %></div>
            <% end %>
              <!-- @user.current.username -->
              <!-- Status -->
            </div>
          </div>

          <!-- search form (Optional) -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
          <!-- /.search form -->

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">TR&Aacute;MITES</li>
            <!-- Optionally, you can add icons to the links -->
            
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Plan Septenal</span></a></li>

            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Ascenso</span></a></li>

            <li>
              <%= link_to special_formation_procedures_path(code: "T-SPF200") do %>
                <i class="fa fa-circle-o"></i>
                <span> Formación Especial</span></a>
              <% end %>
            <li>

            <li>
              <%= link_to rotation_plans_path(code: "T-SPR201") do %>
                <i class="fa fa-circle-o"></i>
                <span> Plan de Rotación</span></a>
              <% end %>
            <li>

            <li>
              <%= link_to licenses_path(code: "T-SLR204") do %>
                <i class="fa fa-circle-o"></i>
                <span>Licencias</span></a>
              <% end %>
            <li>

            <li><a href="/procedures"><i class="fa fa-circle-o"></i> <span>Año Sabatico</span></a></li>
            
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> <span>Traslados</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle"></i>Solicitar Nuevo Traslado</a></li>
                <li><a href="#"><i class="fa fa-circle"></i>Chequear estado del Traslado solicitado</a></li>
                <li><a href="#"><i class="fa fa-circle"></i>Eliminar Traslado</a></li>
              </ul>
            </li>

            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Regimen de Beca</span></a></li>


            <li class="treeview">
                <a href="#"><i class="fa fa-circle-o"></i> <span>Plan Conjunto</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <% if JointPlan.where(user_id: current_user.id).empty? %>
                      <li><%= link_to new_attachment_path,method: :get do%>
                            <i class="fa fa-circle"></i>
                            Nuevo Plan Conjunto
                        <% end %></li>
                  <% end %>
                  <li><%= link_to status_joint_plans_path,method: :get do%>
                      <i class="fa fa-circle"></i>
                      Estatus de Plan Conjunto
                  <% end %>
                  </li>
                  <li><%= link_to inform_joint_plans_path,method: :get do%>
                        <i class="fa fa-circle"></i>
                        Subir Informe
                    <% end %>
                  </li>
                  <li><%= link_to extension_joint_plans_path,method: :get do%>
                        <i class="fa fa-circle"></i>
                        Solicitar Extensión de Plazo
                    <% end %>
                  </li>
                </ul>
            </li>


            <% if current_user.has_role? :asuntos %>
                <li><%= link_to joint_plans_path do%>
                      <i class="fa fa-circle-o"></i>
                      <span>Ver Solicitudes</span></a>
                  <% end %></li>
                <li><%= link_to inform_list_joint_plans_path do%>
                      <i class="fa fa-circle-o"></i>
                      <span>Informes</span></a>
                  <% end %></li>
            <% end %>
            <% if current_user.has_role? :decano %>
                <li><%= link_to joint_plans_path do%>
                    <i class="fa fa-circle-o"></i>
                    <span>Ver Solicitudes</span></a>
                <% end %></li>
            <% end %>
            
          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>


      <div class="content-wrapper">
        <% flash.each do |name, msg| -%>
            <div class="alert alert-<%= name %>">
              <div class="container-fluid">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                <%= content_tag :div, msg %>
              </div>
            </div>
        <% end -%>
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <!--
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
          -->
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Your Page Content Here -->
          <%= yield %>
          <!-- 
            <%= debug(params) if Rails.env.development? %>
          -->
        </section>
      </div>

      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Sistema Automatizado de Trámites Docentes
        </div>
        <!-- Default to the left -->
        <strong>Universidad de Carabobo &copy; 2017 </strong> 
      </footer>
  <% end %>
</div>
</body>
</html>
