<!DOCTYPE html>
<html>
<head>
  <title>Sistramad</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"> </script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<body class="hold-transition skin-blue sidebar-mini" style="font-family: Source Sans Pro">
<div class="wrapper">
<%= render "partials/navigation" %>

<% if ['sessions', 'passwords', 'unlocks'].include?(controller_name) %>
    <div id="background"></div>
<% end %>

  <% if ['sessions', 'passwords', 'unlocks', 'invitations'].include?(controller_name) %>
      <%= yield %>
  <% else %>

      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <%= image_tag "user2-160x160.jpg" , :class=>"img-circle", :alt=>"User Image"%>
            </div>
            <div class="pull-left info">
              <p><%= current_user.first_name %> <%= current_user.last_name %></p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">TR&Aacute;MITES</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> <span>Plan Septenal</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Ascenso</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Formación Especial</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Licencias</span></a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> <span>Plan Conjunto</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
              </a>
              <ul class="treeview-menu">
                <% if JointPlan.where(user_id: current_user.id).empty? %>
                    <li><%= link_to new_attachment_path,method: :get do%>
                          <i class="fa fa-circle"></i>
                          Nuevo Plan Conjunto
                      <% end %></li>
                <% end %>
                <li><%= link_to status_joint_plans_path,method: :get do%>
                    <i class="fa fa-circle"></i>
                    Estatus de Plan Conjunto
                <% end %>
                </li>
                <li><%= link_to inform_joint_plans_path,method: :get do%>
                      <i class="fa fa-circle"></i>
                      Subir Informe
                  <% end %>
                </li>

              </ul>
            </li>
            <% if current_user.has_role? :asuntos %>
                <li><%= link_to joint_plans_path do%>
                      <i class="fa fa-circle-o"></i>
                      Ver Solicitudes
                  <% end %></li>
                <li><%= link_to inform_list_joint_plans_path do%>
                      <i class="fa fa-circle-o"></i>
                      Informes
                  <% end %></li>
            <% end %>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Plan de Rotación</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Traslado</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Regimen de Beca</span></a></li>
            <% if current_user.has_role? :decano %>
                <li><%= link_to joint_plans_path do%>
                    <i class="fa fa-circle-o"></i>
                    Ver Solicitudes
                <% end %></li>
            <% end %>


          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>


      <div class="content-wrapper">
        <% flash.each do |name, msg| -%>
            <div class="alert alert-<%= name %>">
              <div class="container-fluid">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                <%= content_tag :div, msg %>
              </div>
            </div>
        <% end -%>

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->
          <%= yield %>

        </section>
      </div>

      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>
        <!-- /.content -->

  <% end %>
</div>
<%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
